<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
<div class="mt-2">
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  </div>
  <div class="mt-2">
  <p>
    <%= form.submit "Create Place", class:"btn btn-primary"%>
  </p>
  </div>
<% end %>